.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    margin-left: 4%;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 5%;
  }
  
  .menu-item {
    position: relative;
  }
  
  .AirtelBlack,
  .PrePaid,
  .PostPaid,
  .BroadBand,
  .dth,
  .Bank,
  .Airtelfinance,
  .Account {
    color: gray;
    cursor: pointer;
    padding: 10px 15px;
  }
  
  .AirtelBlack:hover,
  .PrePaid:hover,
  .PostPaid:hover,
  .BroadBand:hover,
  .dth:hover,
  .Bank:hover,
  .Airtelfinance:hover,
  .Account:hover {
    color: red;
    text-decoration: overline;
  }
  
  .dropdown-menu1,
  .dropdown-menu2,
  .dropdown-menu3,
  .dropdown-menu4,
  .dropdown-menu5,
  .dropdown-menu6,
  .dropdown-menu7,
  .dropdown-menu8 {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
    width: max-content;
  }
  
  .dropdown-menu1 ul,
  .dropdown-menu2 ul,
  .dropdown-menu3 ul,
  .dropdown-menu4 ul,
  .dropdown-menu5 ul,
  .dropdown-menu6 ul,
  .dropdown-menu7 ul,
  .dropdown-menu8 ul {
    list-style-type: none;
    color: gray;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu1 ul li,
  .dropdown-menu2 ul li,
  .dropdown-menu3 ul li,
  .dropdown-menu4 ul li,
  .dropdown-menu5 ul li,
  .dropdown-menu6 ul li,
  .dropdown-menu7 ul li,
  .dropdown-menu8 ul li {
    padding: 5px 5px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .dropdown-menu1 ul li:hover,
  .dropdown-menu2 ul li:hover,
  .dropdown-menu3 ul li:hover,
  .dropdown-menu4 ul li:hover,
  .dropdown-menu5 ul li:hover,
  .dropdown-menu6 ul li:hover,
  .dropdown-menu7 ul li:hover,
  .dropdown-menu8 ul li:hover {
    color: red;
    transform: scale(1.1);
  }
  
  .AirtelBlack:hover .dropdown-menu1,
  .PrePaid:hover .dropdown-menu2,
  .PostPaid:hover .dropdown-menu3,
  .BroadBand:hover .dropdown-menu4,
  .dth:hover .dropdown-menu5,
  .Bank:hover .dropdown-menu6,
  .Airtelfinance:hover .dropdown-menu7,
  .Account:hover .dropdown-menu8 {
    display: block;
  }
  